# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
file.txt


/photos
Backend/package.json
Backend/package-lock.json
Backend/node_modules/.package-lock.json
Backend/node_modules/i/LICENSE
Backend/node_modules/i/package.json
Backend/node_modules/i/.github/dependabot.yml
Backend/node_modules/i/.github/workflows/ci.yml
Backend/node_modules/i/lib/defaults.js
Backend/node_modules/i/lib/inflect.js
Backend/node_modules/i/lib/inflections.js
Backend/node_modules/i/lib/methods.js
Backend/node_modules/i/lib/native.js
Backend/node_modules/i/lib/util.js
Backend/node_modules/i/test/inflector/cases.js
Backend/node_modules/i/test/inflector/inflections-test.js
Backend/node_modules/i/test/inflector/methods-test.js
Backend/node_modules/i/test/utils/array-test.js
Backend/node_modules/i/test/utils/string-test.js
Backend/temp.js
Backend/Connection/index.js
package-lock.json
package-lock.json
package.json
